

body{

	background-color: #0055A2;
	

}

#header {
 	background-color: gold;
 	vertical-align: center;
 	text-align: center;
 	
}


#content{
	background-image: url("ecback.jpg");
	
	
	font-family: verdana;
	text-align: center;
}
